/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos essenciais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0fdf4;
    color: #2e4a36;
}

button {
    cursor: pointer;
    outline: none;
}
