.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #4caf50;
  margin-bottom: 20px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2e4a36;
  max-width: 600px;
}
